.card {
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
}

.card > label {
    font-size: 0.875rem;
    color: var(--gray-100);
}

.delete:hover {
    color: var(--danger);
    cursor: pointer;
}

.card > input[type=checkbox]{
    appearance:none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 0.2rem;
    border: 1px solid var(--blue);
    border-radius:50%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.card > input[type="checkbox"]:checked {
    border-radius:50%;
    background: var(--blue);
    width: 1rem;
    height: 1rem;
}

.card > input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--gray-100);
    text-align: center;
}

.card > input[type="checkbox"]:focus {
    outline: none;
}

.card input[type="checkbox"]:checked + label {
    color: var(--gray-300);
    text-decoration: line-through;
}